@charset "UTF-8";

form {

    em {
        color: #777;
        font-size: 90%;
        
    }
}

input + small.error {
    margin-top: -16px;
}

label > input[type=checkbox] {
    margin-right: 5px;
}

small.error > p {
    margin: 0;
    font-size: 12px;
    font-style: normal;
}

@import "public/assets/development/bower/foundation/scss/foundation/components/forms";