@charset "UTF-8";
@import "variables";

@import "public/assets/development/bower/foundation/scss/foundation/components/type";

.serif {
    font-family: $font-family-serif;
    font-style: italic;
}

.muted {
    color: #777;
}


.vcard {
    .country {
        font-size: 80%;
        color: #666;
    }
    .region {
        font-size: 80%;
        color: #555;
    }
    .locality {
        font-size: 80%;
    }
}

small {
    font-size: 80%;
}

label small {
    text-transform: none;
}

p {
    margin-bottom: 0;
}

p + p {
    margin-bottom: $paragraph-margin-bottom;
}

$text-transparent: rgba(0,0,0,0.3);


// Стиль еле видной строки, используется в тех местах, где необходимо показать,
// что данный объект был мягко удалён из системы
.text-transparent {
  color: $text-transparent;

  a {
      color: $text-transparent;
  }

  .button {
      opacity: .7;
      &:hover {
          opacity: 1;
      }
  }
}