* {
    box-sizing: border-box;
}

h1, h2 {
  text-align: center;
}

h1 {
  margin: 10px auto 20px;
}

h2 {
  margin: 10px auto 40px;
}

body.flex-site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;

    > .content-container {
        flex: 1 0 auto;

        &::after {
            content: '\00a0'; /* &nbsp; */
            display: block;
            margin-top: var(--space);
            height: 0px;
            visibility: hidden;
        }
    }

    > nav.top-bar {
        flex: none;
    }

    > .panel.footer {
        flex: none;
    }

}

#content {
    padding-top: 40px;
    padding-bottom: 60px;
}

.footer {
    margin-top: 40px;
    margin-bottom: 0;
    height: 65px;
}
