@charset "UTF-8";
@import "foundation/variables";

.landing {
    
    .main-landing-title {

        h1 {
            margin: 0;
        }

        h3 {
            margin: 0;
        }

        p {
            font-size: 90%;
            width: 50%;
            text-align: center;
            margin: 0 auto;
        }

        margin: 100px auto;

    }
    
    h3 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .features {
        p {
            width: 90%;
            text-align: justify;
            margin: 5px auto;
        }
        
        h4 {
            font-size: 1.2rem;
            margin: 15px 0;
        }
    }
    
    .landing-img {
        width: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        border-radius: 10px;
        height: 200px;
    }
    
    .landing-img-1 {
        background-image: url(/assets/images/landing/kak-pomoch-prinyat-Islam.jpg);
        @media only screen and (min-width: 40.063em) and (max-width: 64em) {
            background-position-x: 63%;
        }
        @media only screen and (min-width: 64.063em) {
            background-position-x: 75%;
        }
    }
    
    .landing-img-2 {
        background-image: url(/assets/images/landing/kf9tkVujHaY.jpg);
    }
    
    .landing-img-3 {
        background-image: url(/assets/images/landing/33365779.jpg);
    }
    
    .landing-img-4 {
        background-image: url(/assets/images/landing/24592.jpg);
    }
    
    .landing-register-btn {
        margin: 30px auto;
        width: 240px;
        display: block;
        font-size: 120%;
    }
}
