.dialogs-container {

    a.dialog {
        display: block;
    }

    .person {
        font-size: 1.2rem;
    }

    .last-message {

    }

    .last-message-date {
        float: right;
        font-size: 90%;
    }

}

/* Окно диалога с каким-то человеком */
.dialog-messages {

    .message .content {
        border: 1px solid #ccc;
        padding: 1rem;
        display: inline-block;

        &.right {
            background: #F3F3FF;
        }

        .date {
            float: right;
            font-size: 90%;
            color: #999;
            position: relative;
            right: -10px;
            bottom: -12px;
        }
    }

    .message + .message {
        margin-top: 1rem;
    }

    .pagination {
        margin-top: 1rem;
    }

    .new-message-form {
        margin-top: 1rem;

        textarea {
            height: 100px;
        }
    }

}